@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.leaflet-container {
    width: 80%;
    height: 80vh;
    margin: 3rem;
    z-index: 0;
    border-radius: 15px;
    border: thick solid #2a2a2a10;
  }
#wave{
  transform:rotate(180deg); 
}
@tailwind base;
@tailwind components;
@tailwind utilities;
